body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(200,0,0,1));
}
.block {
    display: grid;
    justify-content: center;
    margin: 100px;
}
a {
    font-size: 20px;
    color: blueviolet;
}
a:hover {
    color: black;
}
li {
    margin: 10px;
    list-style-type: none;
}